html, body{
  margin: 0;
  padding: 0;
  height: 100%;
}

h1{
    text-align: center;
    background-color:#4CAF50;
    font-size: 350%; 
    color: white;   
}

h2{
  text-align: center;
  background-color:#4CAF50;
  font-size: 250%; 
  color: white;   
}


.p1{
  text-align: center;
  font-size: 180%;
  font-style: italic;
}

.ap{
  color: #4CAF50;
}

.cur{
  color:rgb(0, 195, 255)
}