html, body{
  margin: 0;
  padding: 0;
  height: 100%;
}

h1{
  text-align: center;
  background-color:#4CAF50;
  font-size: 430%; 
  color: white;   
}

/* animação 1*/

.div {
    float: left;
    width: 100px;
    height: 100px;
    background-color: #B4EEB4;
    margin: 10px;

}

.div:hover{
  transform: scale(1.1);
}
 
.div:active{
  transform: scale(0.9);
}

  /* final animação 1 */

  /* animação 2 */

  .div1 {
    float: left;
    width: 100px;
    height: 100px;
    background-color: #FFB5C5;
    margin: 10px;
  }

  .div1:hover{
    transform: scale(1.1);
  }
   
  .div1:active{
    transform: scale(0.9);
  }
 
  /* final animação 2 */

  /* animação 3 */

  .div2 {
    float: left;
    width: 100px;
    height: 100px;
    background-color: #AEEEEE;
    margin: 10px;
  }

  .div2:hover{
    transform: scale(1.1);
  }
   
  .div2:active{
    transform: scale(0.9);
  }

    /* final animação 3 */

